<tr id="comment-<%= comment.id %>" class="border-b">
  <td class="w-16">
    <%= image_tag "sample", width: "50", height: "50", class: "rounded-full w-12 h-12" %>
  </td>
  <td class="px-4">
    <h3 class="text-sm font-semibold"><%= comment.user.decorate.full_name %></h3>
    <p class="text-sm"><%= simple_format(comment.body) %></p>
  </td>
  <% if current_user.own?(comment) %>
    <td class="text-right">
      <ul class="flex space-x-2">
        <li>
          <%= link_to "#", class: "edit-comment-link text-blue-500 hover:text-blue-700" do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "delete-comment-link text-red-500 hover:text-red-700" do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>
