<div class="container mx-auto">
  <div class="flex justify-center">
    <div class="w-full lg:w-2/3">
      <h1 class="text-2xl font-bold mb-4"><%= t('.title') %></h1>
      <%= form_with model: @board, class: "new_board" do |f| %>
        <div class="mb-4">
          <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :title, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500" %>
        </div>
        <div class="mb-4">
          <%= f.label :body, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_area :body, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500", rows: "10" %>
        </div>
        <%= f.submit nil, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      <% end %>
    </div>
  </div>
</div>