<div class="container mx-auto">
  <div class="flex justify-center">
    <div class="w-full lg:w-2/3">
      <h1 class="text-2xl font-bold mb-4"><%= t('.title') %></h1>
      <%= form_with model: @board, class: "new_board" do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="mb-4">
          <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :title, class: "input input-bordered w-full mt-1" %>
        </div>
        <div class="mb-4">
          <%= f.label :body, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_area :body, class: "textarea textarea-bordered w-full mt-1" %>
        </div>
        <div class="mb-4">
          <%= f.label :board_image, class: "block text-sm font-medium text-gray-700" %>
          <%= f.file_field :board_image, class: "file-input file-input-bordered w-full mt-1", accept: 'image/*' %>
          <%= f.hidden_field :board_image_cache %>
        </div>
        <%= f.submit nil, class: "btn w-full bg-gray-200 text-gray-800 hover:bg-gray-300 hover:text-gray-900 border-gray-200 hover:border-gray-300" %>
      <% end %>
    </div>
  </div>
</div>
