<!DOCTYPE html>
<html>
  <head>
    <title>Best Buy Gadgets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100">
    <%= render 'shared/header', class: "bg-white shadow" %>
    <main class="container mx-auto p-4">
      <%= yield %>
    </main>
    <footer class="bg-gray-800 text-white text-center py-4">
      <p>&copy; 2024 RUNTEQ祭</p>
    </footer>
  </body>
</html>